<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
     <head th:replace="layout/plantilla :: head">
        <title>CompuTec</title>  
    </head>
    <body>
        
       <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarCliente">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section> 
        <section th:fragment="agregarCliente">
            <div id="agregarCliente" 
                 class="modal fade" tabindex="-1" 
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Cliente</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/cliente/guardar}" th:object="${cliente}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{cliente.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="correo" th:text="#{cliente.correo}">Correo</label>
                                    <input type="text" class="form-control" name="correo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{cliente.telefono}">Telefono</label>
                                    <input type="text" class="form-control" name="telefono" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="contrasena" th:text="#{cliente.contrasena}">Contrasena</label>
                                    <input type="text" class="form-control" name="contrasena" required="true">
                                </div>
                                
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <section th:fragment="listadoCliente" id="listadoCliente">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{cliente.titulo}]]</h4>
                            </div>
                            <div th:if="${clientes != null and !clientes.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{cliente.nombre}">Nombre</th>
                                           
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente, contador : ${clientes}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${cliente.nombre} + ' ' + ${cliente.apellidos}]]</td>
                                            
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cliente/eliminar/}+${cliente.idCliente}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cliente/modificar/}+${cliente.idCliente}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                               
                            </div>
                            <div class="text-center p-2" th:if="${clientes == null or clientes.empty}">
                                <span th:text="#{cliente.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                       
                </div>
            </div>
        </section>
        
        <!-- MAS DETALLES -->
        <section th:fragment="botonDetalle" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">    
                       <a class="btn btn-primary" href="/cliente/listadodetalle" role="button">Mas detalles</a>
                    </div>
                </div>
            </div>
        </section> 
        
        <section th:fragment="listadoClienteDetalle">
            <div id="listadoClienteDetalle" 
                 class="modal fade" tabindex="-1" 
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Detalles</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                            <div class="modal-body">
                            <div th:if="${clientes != null and !clientes.empty}" th:object="${cliente}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{cliente.nombre}">Nombre</th>
                                           
                                            <th>Apellido</th>
                                            <th>Telefono</th>
                                            <th>Correo</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente, contador : ${clientes}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${cliente.nombre}]]</td>
                                            <td>[[${cliente.apellidos}]]</td>
                                            <td>[[${cliente.telefono}]]</td>
                                            <td>[[${cliente.correo}]]</td>
                                            
                                            <td>
                                                <a th:href="@{/cliente/eliminar/}+${cliente.idCliente}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/cliente/modificar/}+${cliente.idCliente}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${clientes == null or clientes.empty}">
                                <span th:text="#{cliente.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    </div>
                       
                
            </div>
        </section> 
            
        <!-- MODIFICA CLIENTE -->
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row justify-content-md-end">
                        <div class="col-md-3">
                            <a th:href="@{/cliente/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                       <div class="col-md-3">
                           <a th:href="@{/cliente/eliminar/}+${cliente.idCliente}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>
         <section th:fragment="editarCliente">            
            <form method="POST"
                  th:action="@{/cliente/guardar}"
                  th:object="${cliente}"
                  class="was-validated">
                <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                <br><br> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{cliente.nombre}">Nombre: </label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos: </label>
                                            <input type="text"  class="form-control" name="apellidos" th:field="*{apellidos}" required="true"/>
                                        </div>
                                       <div class="form-group">
                                    <label for="correo" th:text="#{cliente.correo}">Correo</label>
                                    <input type="text" class="form-control" name="correo" th:field="*{correo}" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{cliente.telefono}">Telefono</label>
                                    <input type="text" class="form-control" name="telefono" th:field="*{telefono}" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="contrasena" th:text="#{cliente.contrasena}">Contrasena</label>
                                    <input type="text" class="form-control" name="contrasena" th:field="*{contrasena}" required="true">
                                </div>
                                                          
                                    </div>
                                    <div th:replace="cliente/FragmentosCliente :: botonesEditar"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        
        
        
        
        <section th:fragment="verCliente">            
            <form>
                <br><br> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h1>Mi perfil</h1>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{cliente.nombre}">Nombre: </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos: </label>
                                        </div>
                                       <div class="form-group">
                                    <label for="correo" th:text="#{cliente.correo}">Correo</label>
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{cliente.telefono}">Telefono</label>
                                </div>
                                <div class="form-group">
                                    <label for="contrasena" th:text="#{cliente.contrasena}">Contrasena</label>
                                </div>
                                                          
                                    </div>
                                    <div th:replace="cliente/FragmentosCliente :: botonesver"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        
        <section th:fragment="botonesver">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row justify-content-md-end">
                        <div class="col-md-3">
                            <a th:href="@{/}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                       <div class="col-md-3">
                           <a
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
    </body>
</html>
