<!DOCTYPE html>

<html>
    <head th:replace="layout/plantilla :: head">
        <title>CompuTec</title>
        <meta charset="UTF-8">
    </head>
    <body>
                <header th:replace="layout/plantilla :: header"/>
                <br><br>
                
                
                <br>  <h2 style="text-align: center  ">[[#{producto.bienvenida}]]</h2>  <br> 
              <br>
                 
    
              
             <br>  <h2>[[#{producto.novedad}]]</h2>  <br> 
          
                  
            <div id="carouselExampleCaptions"ratio-1x1 style="width: 30rem; align-content:center;" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
                
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <img src="imagenes/SKILL TRIDENT Z5 RGB 16 GB DDR5 6000.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
     
       
      </div>
    </div>

    <div class="carousel-item">
      <img src="imagenes/LOGITECH G PRO X SUPERLIGHT.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
    
      </div>
    </div>
      
    <div class="carousel-item">
      <img src="imagenes/ASUS VP228HE.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
   
      </div>
    </div>
  </div>
                
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
             <br>
             <br><a href="#contacto">[[#{index.ayuda}]]</a>
             <br>
<h2>[[#{index.principales}]]</h2> 
<br>
 <article>
                <header>
                    <h3>[[#{index.monitores}]]</h3>
                </header> 
                 <br>
                 
                 <div class="row" >
                                <div class="col-sm-6"  ratio-1x1 style="width: 18rem;" />
                                    <img src="imagenes/ASUS VP228HE.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">ASUS VP228HE</h5>
                                            <p class="card-text">[[#{index.monitora}]]</p>
                                            <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                               <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 112,000
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/XIAOMI 1C.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">XIAOMI 1C</h5>
                                            <p class="card-text">[[#{index.monitorb}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                 <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 111,000   
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/MSI OPTIX G241.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">MSI OPTIX G241</h5>
                                            <p class="card-text">[[#{index.monitorc}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                 <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 155,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/MSI OPTIX G32CQ4.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">MSI OPTIX G32CQ4</h5>
                                            <p class="card-text">[[#{index.monitord}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 265,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
</div>
                 
<br><br>



 <article>
   
                <header>
                    <h3>[[#{index.teclado}]]</h3>
                </header> 
                 <br> 
                 
                 
               <div class="row" >
                                <div class="col-sm-6"  ratio-1x1 style="width: 18rem;" />
                                    <img src="imagenes/CORSAIR K100 RGB MX SPEED.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">CORSAIR K100 RGB MX SPEED</h5>
                                            <p class="card-text">[[#{index.tecladoa}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                               <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 149,900
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/REDRAGON SHIVA K512RGB.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">REDRAGON SHIVA K512RGB</h5>
                                            <p class="card-text">[[#{index.tecladob}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 15,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/REDRAGON K585 DITI.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">REDRAGON K585 DITI</h5>
                                            <p class="card-text">[[#{index.tecladoc}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                 <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 19,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/PRIMUS BALLISTA 200S RGB.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">PRIMUS BALLISTA 200S RGB</h5>
                                            <p class="card-text">[[#{index.tecladod}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 41,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
</div>
                 
<br><br>



 <article>
   
                <header>
                    <h3>[[#{index.mouse}]]</h3>
                </header> 
                 <br> 

                 
                 
                 
                 
                 
                 
                 
        <div class="row" >
                                <div class="col-sm-6"  ratio-1x1 style="width: 18rem;" />
                                    <img src="imagenes/HYPERX PULSEFIRE FPS PRO.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">HYPERX PULSEFIRE FPS PRO</h5>
                                            <p class="card-text">[[#{index.mousea}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 25,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/LOGITECH G PRO X SUPERLIGHT.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">LOGITECH G PRO X SUPERLIGHT</h5>
                                            <p class="card-text">[[#{index.mouseb}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                               <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 79,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/CORSAIR IRONCLAW RGB.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">CORSAIR IRONCLAW RGB</h5>
                                            <p class="card-text">[[#{index.mousec}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 39,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/IMEXX VENOM GAMING.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">IMEXX VENOM GAMING</h5>
                                            <p class="card-text">[[#{index.moused}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 5,500
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
</div>
                 
<br><br>





 <article>

                <header>
                    <h3>[[#{index.ram}]]</h3>
                </header> 
                 <br> 
                 
                 
                 
                 
                 
                 
                 <div class="row" >
                                <div class="col-sm-6"  ratio-1x1 style="width: 18rem;" />
                                    <img src="imagenes/SKILL TRIDENT Z5 RGB 16 GB DDR5 6000.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">SKILL TRIDENT Z5 RGB 16 GB DDR5 6000</h5>
                                            <p class="card-text">[[#{index.rama}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                               <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 172,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/TEAMGROUP T-FORCE VULCAN.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">TEAMGROUP T-FORCE VULCAN</h5>
                                            <p class="card-text">[[#{index.ramb}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>₡ 27,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/TEAMGROUP T-FORCE DELTA.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">TEAMGROUP T-FORCE DELTA</h5>
                                            <p class="card-text">[[#{index.ramc}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button> ₡ 29,900
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                     
                     
                     
                     
                     
                     <div class="col-sm-6"  ratio-1x1 style="width: 18rem;">
                                    <img src="imagenes/TEAMGROUP T-FORCE ZEUS.jpg" class="card-img-top" alt=""/>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">TEAMGROUP T-FORCE ZEUS</h5>
                                            <p class="card-text">[[#{index.ramd}]]</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              <i class="fa-solid fa-cart-shopping"></i>
                                            </button>  ₡ 47,000
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">[[#{listproduct.producto}]]</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            [[#{listproduct.mensaje}]]
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">[[#{boton.continuar}]]</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
</div>
                 
<br><br>






<a name="contacto"></a>
<header>
                    <h3 style="text-align: center">  [[#{index.contacto}]] </h3>
                </header> <br>
                <p style="text-align: center">
                    <p style="text-align: center">Avnd.La Coralia, 300 mts Sur costado a la Iglesia de Coronado</p>
                   <p style="text-align: center"> +506 2235 2754</p>
               <article style="text-align: center">
                <header><h3>[[#{index.encuentranos}]] </h3></header>
               
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d694.6521893741191!2d-84.02709082851146!3d9.971662840825134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e56fd0a198b1%3A0x1ab58a64e4cc7f57!2sAqu%C3%AD%20una%20historia!5e0!3m2!1ses!2scr!4v1651307002737!5m2!1ses!2scr" 
                    width="600" 
                    height="450" style="border:0;" allowfullscreen="">
                       
               </iframe>
                
                <footer> [[#{index.esperamos}]] </footer>
                
            </article> 

                   
                   
                   
<br>

       
       <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
