<!DOCTYPE html>

<html>
    <head th:replace="layout/plantilla :: head">
   <!-- <head-->
        <title>CompuTec</title>
        <meta charset="UTF-8">
    </head>
    <body>
                <header th:replace="layout/plantilla :: header"/>
                <br><br>
                 <input type="search" placeholder="Search.." style="width:600px;height:37px;  top: 60px; right: 350px;">
              <button type="submit" style=" top: 60px; right: 300px;" class="btn btn-outline-dark"><i class="fa-solid fa-magnifying-glass"></i></button> <br>
                 
    
              
             <br>     <h2>Nuestras Novedades:</h2>  <br> 
          
             
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
                
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="imagenes/SKILL TRIDENT Z5 RGB 16 GB DDR5 6000.jp" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Lo último en velocidad</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="imagenes/LOGITECH G PRO X SUPERLIGHT.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Siéntete como un verdadero gamer</p>
      </div>
    </div>
      
    <div class="carousel-item">
      <img src="imagenes/ASUS VP228HE.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Disfruta una experiencia en patalla grande</p>
      </div>
    </div>
  </div>
                
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
             
          
            
             <br>
             
             
             <a href="#contacto">Necesitas ayuda?</a>
              <br>
<h2>Articulos principales</h2> 
<br>
 <article>
                <header>
                    <h3>Monitor</h3>
                </header> 
                 <br> 
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/ASUS VP228HE.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ASUS VP228HE</h5>
        <p class="card-text">Monitor de 22 pulgadas, 1920x1080 de 60 Hz</p>
        <!-- Button trigger modal -->
        
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
₡ 112,000

      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/XIAOMI 1C.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">XIAOMI 1C</h5>
        <p class="card-text">Monitor de 24 pulgadas,|920x1080 de 60 Hz </p> //₡ 111,000
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/MSI OPTIX G241.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MSI OPTIX G241</h5>
        <p class="card-text">Monitor de 24 pulgadas, 1920x1080 de 144 HZ</p> //₡ 155,000
        
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="imagenes/MSI OPTIX G32CQ4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MSI OPTIX G32CQ4</h5>
        <p class="card-text">Monitor de 32 pulgadas, 2560x1440 de 165 Hz</p> //₡ 265,000
      </div>
    </div>
  </div>
</div>
<br>

 <article>
   
                <header>
                    <h3>Teclado</h3>
                </header> 
                 <br> 
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/CORSAIR K100 RGB MX SPEED.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CORSAIR K100 RGB MX SPEED</h5>
        <p class="card-text">Teclado Mecánico Cherry MX Speed RGB Silver</p> //₡ 149,900
      </div>
    </div>
  </div>
    
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/REDRAGON SHIVA K512RGB.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REDRAGON SHIVA K512RGB</h5>
        <p class="card-text">Teclado de membrana con reposamuñeca</p> //₡ 15,000
      </div>
    </div>
  </div>
    
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/REDRAGON K585 DITI.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">REDRAGON K585 DITI</h5>
        <p class="card-text">Teclado mecánico de una mano</p> //₡ 19,000
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <img src="" class="card-img-top" alt="imagenes/PRIMUS BALLISTA 200S RGB.jpg"> //₡ 41,000
      <div class="card-body">
        <h5 class="card-title">PRIMUS BALLISTA 200S RGB</h5>
        <p class="card-text">Teclado mecánico con switches Primus Red</p>
      </div>
    </div>
  </div>
</div>
<br>

 <article>
   
                <header>
                    <h3>Mouse</h3>
                </header> 
                 <br> 

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/HYPERX PULSEFIRE FPS PRO.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HYPERX PULSEFIRE FPS PRO</h5>
        <p class="card-text">Mouse con Dpi de 16000, LED RGB</p> //₡ 25,000
      </div>
    </div>
  </div>
    
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/LOGITECH G PRO X SUPERLIGHT.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LOGITECH G PRO X SUPERLIGHT</h5>
        <p class="card-text">Mouse con Dpi de 25600, inalámbrico con sensor logitech Hero 25K</p> //₡ 79,000
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="imagenes/CORSAIR IRONCLAW RGB.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CORSAIR IRONCLAW RGB</h5>
        <p class="card-text">Mouse con Dpi de 18000, con sensor Pixart PMW 3391</p> //₡ 39,000
      </div>
    </div>
  </div>
 
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/IMEXX VENOM GAMING.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">IMEXX VENOM GAMING</h5>
        <p class="card-text">Mouse con Dpi de 2400, LED de 7 colores</p> //₡ 5,500
      </div>
    </div>
  </div>
</div>
<br>

 <article>

                <header>
                    <h3>Memoria Ram</h3>
                </header> 
                 <br> 
                 
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/SKILL TRIDENT Z5 RGB 16 GB DDR5 6000.jp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SKILL TRIDENT Z5 RGB 16 GB DDR5 6000</h5> //₡ 172,000
        <p class="card-text">Memoria ram de 16Gb con una velocidad de DDR5 6000</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="imagenes/TEAMGROUP T-FORCE VULCAN.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TEAMGROUP T-FORCE VULCAN</h5> //₡ 27,000
        <p class="card-text">Memoria ram de 8Gb con una velocidad de DDR4 3200</p>
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <img src="imagenes/TEAMGROUP T-FORCE DELTA.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TEAMGROUP T-FORCE DELTA</h5> //₡ 29,900
        <p class="card-text">Memoria ram de 8gb con una velocidad de DDR4 3200</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="TEAMGROUP T-FORCE ZEUS" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TEAMGROUP T-FORCE ZEUS</h5> //₡ 47,000
        <p class="card-text">Memoria ram de 16 Gb con una velocidad de DDR4 3200</p>
      </div>
    </div>
  </div>
</div>
<br>






<a name="contacto"></a>
<header>
                    <h3 style="text-align: center"> Contacto </h3>
                </header> <br>
                <p style="text-align: center">
                    <p style="text-align: center">Avnd.La Coralia, 300 mts Sur costado a la Iglesia de Coronado</p>
                   <p style="text-align: center"> +506 2235 2754</p>
               <article style="text-align: center">
                <header><h3>Encuentranos: </h3></header>
                
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.980528058196!2d-84.03794158425346!3d9.935577876863897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3aa66fa362b%3A0xf134cee2340078e2!2sStem%20Center%20Fid%C3%A9litas!5e0!3m2!1ses-419!2scr!4v1645080144103!5m2!1ses-419!2scr" 
                    width="600" 
                    height="450" style="border:0;" allowfullscreen="">
                       
               </iframe>
                
                <footer> Te esperamos! </footer>
                
            </article> 

                   
                   
                   
<br>

       <!-- <h2 th:text="#{index.titulo}">Nuestras Novedades:</h2> -->
       <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>

